[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false
members = ["programs/*"]

[programs.devnet]
solverse = "4kruCJtCQbxT1AQxZprCe7MfBVwFBJKYsdySz8ECPe6p"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
